<!-- By Zachary A. Miller -->

<section id="footer">
    <link type="text/css" href="/css/Footer.css" rel="stylesheet">
    <div id="footer-container">
        <h2 id="blossom-phrase"></h2>
        <div id="footer-menu">
            <div class="footer-menu-column">
                <a href="/">Home</a>
                <a href="/Peak-Blossom-Calendar/">Peak Blossom Calendar</a>
                <a href="/History/">History</a>
                <a href="/References/">References</a>
            </div>
            <div id="footer-menu-column-line-a" class="footer-menu-column-line"></div>
            <div class="footer-menu-column">
                <a href="/Opening-Ceremony/">Opening Ceremony</a>
                <a href="/Welcome-Area/">Welcome Area</a>
                <a href="/Pink-Tie-Dinner-Party/">Pink Tie Dinner Party</a>
            </div>
            <div id="footer-menu-column-line-b" class="footer-menu-column-line"></div>
            <div class="footer-menu-column">
                <a href="/Petalpalooza/">Petalpalooza</a>
                <div class="menu-subpages">
                    <a href="/Petalpalooza/Activities-For-Kids/">Activites for Kids</a>
                    <a href="/Petalpalooza/Performances/">Performances</a>
                </div>
            </div>
            <div id="footer-menu-column-line-c" class="footer-menu-column-line"></div>
            <div class="footer-menu-column">
                <a href="/Competitions/">Competitions</a>
                <div class="menu-subpages">
                    <a href="/Competitions/?a=kite">DIY Kite</a>
                    <a href="/Competitions/?a=porch-decoration">Porch Decoration</a>
                </div>
            </div>
        </div>
        <span id="footer-attribution">Images Courtesy of <a class="c3-grid-image-attribution" href="https://nationalcherryblossomfestival.org/press-images/" target="_blank">The National Cherry Blossom Festival</a> unless credited otherwise.</span>
    </div>
</section>